
body {
    font-family: "Segoe UI", sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2e8b57;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 2.5em;
}
main {
    padding: 20px;
}
.potion {
    background-color: #333;
    border: 2px solid #2e8b57;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
footer {
    background-color: #2e8b57;
    text-align: center;
    padding: 10px;
}
